// ///// Variables /////

$us-blue: #002664;
$us-white: #fff;
$us-red: #bb133e;

body {
  background-color: $us-blue;
  font-family: 'Raleway', sans-serif;
  // color: $us-white;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
}

.image-container {
  text-align: center;
  width: 100%;

  img {
    border-radius: 10px;
    max-width: 100%;
  }
}

.details {
  font-size: 16px;
  margin-top: 10px;
}

// a {
//   color: white !important;
// }

.facebook-icon {
  float: right;
  position: absolute;
  right: 10px;
  top: 8px;

  svg {
    fill: $us-blue;
  }
}

.navbar {
  &.navbar-default {
    background-color: $us-white;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
  }
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  color: $us-blue !important;
}

.image-text-container {
  img {
    width: 100% !important;
    max-width: 100% !important
  }
}

.text-statement {
  color: black !important;
  font-size: 16px;
  padding: 0 10px;
}

.rwh-signature {
  margin-top: 30px
}

.message-header {
  color: $us-red;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  padding-top: 15px;
}

.message-container {
  background-color: $us-white !important;
}

.form-header {
  color: $us-red;
  padding-top: 5px;
  text-align: center
}

#mc_embed_signup {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  #mc-embedded-subscribe {
    background-color: $us-red;
  }
}

.mailchimp-container {
  background-color: white;
  margin-top: 15px;
}

.message-col {
  background-color: $us-white !important;
}

.mailchimp-row {
  margin-bottom: 15px;
}

.footer-wrap {
  margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar {
  .container {
    margin-right: 0 !important;
    margin-left: 20px !important;
  }
}

@media (min-width: 951px) {

  .row{
      overflow: hidden;
  }

  .content-row {
    margin-right: 0 !important;
  }

  [class*="col-xs-"]{
      margin-bottom: -99999px;
      padding-bottom: 99999px;
  }
}

@media (max-width: 950px) {
  .image-text-container {
    text-align: center;
    img {
      width: 80% !important;
      max-width: 100% !important
    }
  }

  .col-xs-6 {
    width: 100% !important;
  }

  .mailchimp-container {
    // margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .image-text-container {
    margin-bottom: 15px;
  }

  .message-col {
    padding-bottom: 15px;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 850px) {
  .image-text-container {
    text-align: center;
    img {
      width: 100% !important;
      max-width: 100% !important
    }
  }

  .navbar {
    .container {
      margin-right: 5px !important;
      margin-left: 20px !important;
    }

    a {
      text-align: center;
    }
  }
}
